.showBox {
  clear: both; 
  width: 1000px; 
  height: 300px;
  font-family: Monospace;
  white-space: pre;
}

.outputBox {
  overflow-x:hidden;
  overflow-y:visible;
}

#asm {
  overflow-y: scroll;
}

.spaces {
  background-color: #ff9999;
  white-space: pre;
}

.tabs {
  background-color: #9999ff;
  white-space: pre;
}

.comment {
  white-space: pre;
}

.runningInstruction {
  background-color: green;
}
