body, input, textarea {
  font-size: 12px;
  font-family: monospace; 
}
.inputArea {
  min-width: 600px;
  min-height: 100px;
  tab-size: 4;
  padding: 0px 0px 0px 0px;
  word-break: none;
  white-space: pre;
}

.inputBox {
  z-index: 100;
  background: transparent;
  outline: none;
  border: none;
}

textarea.inputBox {
  resize: none;
}

.inputOverlay {
  position: relative;
  top: -100px;
  z-index: -100;
  pointer-events: none;
}

.scrollable {
  width: 600px;
  height: 250px;
  overflow: hidden;
  border: 1px solid;
}

.inputCotainer {
  owerflow: hidden;
}
.inputOverlay .spaces {
  background-color: #ff9999;
}

.inputOverlay .tabs {
  background-color: #9999ff;
}

.btn {
  display: inline-block;
}
.btn a {
  cursor: default;
}

.btn a {
  color: black;
  text-decoration: none;
}

.btn a:hover {
  color: white;
  background-color: black;
}

.activeTab {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
}

.outputArea {
  overflow: hidden;
  width: 600px;
  height: 200px;
}

.outputText {
  font-size: 0;
}

.outputText form {
  display: inline-block;
}

.outputText span{
  font-size: 12px;
  white-space: pre;
  word-break: none;
}

.consoleText {
  white-space: pre;
  word-brake: none;
}

.tabContent {
  display: none;
}
.tabLabels {
  margin-top: 16px;
  position: relative;
}
.allTabs {
  border: 1px solid;
  display: inline-block;
}

.userInput {
  border: none;
  outline: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#panelMiddle .content {
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
}

#panelRight .content {
  width: 150px;
  height: 500px;
  white-space: pre;
}

#panelLeft .content {
  height: 500px;
  width: 150px;
}

div.panel {
  border: 4px double;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}

div.panel div.label {
  text-align: center;
  position: relative;
  top: -.75em;
}
div.panel div.label span {
  padding-left: .5em;
  padding-right: .5em;
  background-color: white;
}

.fileEntry a {
  color: black;
  margin-left: 1.5em;
  text-decoration: none;
}

.fileEntry a:hover {
  background-color: black;
  color: white;
}

.fileTypeWs {
  background: transparent url('img/icoset.png') 0 0 no-repeat;
  background-position: 0 0
}

.fileTypeAsm {
  background: url('img/icoset.png') no-repeat;
  background-position: -15px 0
}

