body, input, textarea {
  font-size: 12px;
  font-family: monospace; 
}
.inputArea {
  min-width: 600px;
  min-height: 100px;
  tab-size: 4;
  padding: 0px 0px 0px 0px;
  word-break: none;
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
}

.inputBox {
  z-index: 0;
  background: transparent;
  outline: none;
  border: none;
  min-height: 250px;
}

textarea.inputBox {
  resize: none;
}

.inputOverlay {
  position: relative;
  top: -100px;
  z-index: -100;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.scrollable {
  width: 600px;
  height: 250px;
  overflow: hidden;
  border: 1px solid;
}

.inputContainer {
  owerflow: hidden;
  position: relative;
}
.inputOverlay .spaces {
  background-color: #ff9999;
}

.inputOverlay .tabs {
  background-color: #9999ff;
}

.btn {
  display: inline-block;
  font-size: 12px;
}
.btn a {
  cursor: default;
}

.btn a {
  color: black;
  text-decoration: none;
}

.btn a:hover {
  color: white;
  background-color: black;
}

.activeTab {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
}

.outputArea {
  overflow: hidden;
  width: 600px;
  height: 200px;
}

.outputText {
  font-size: 0;
}

.outputText form {
  display: inline-block;
}

.outputText span{
  font-size: 12px;
  white-space: pre;
  word-break: none;
}

.consoleText {
  white-space: pre;
  word-brake: none;
}

.tabContent {
  display: none;
}
.tabLabels {
  position: relative;
}
.allTabs {
  width: 600px;
  height: 230px;
  border: 1px solid;
  display: inline-block;
}

.userInput {
  border: none;
  outline: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#panels {
  width: 960px;
  display: inline-block;
}

#panelMiddle .content {
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
}

#panelRight .content {
  width: 150px;
  height: 510px;
}

#panelLeft .content {
  height: 510px;
  width: 150px;
  overflow-x: hidden;
}

#fileList {
  min-width: 150px;
}

div.panel {
  height: 550px;
  border: 4px double;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}

div.panel div.label {
  text-align: center;
  position: relative;
  top: -.75em;
}
div.panel div.label span {
  padding-left: .5em;
  padding-right: .5em;
  background-color: white;
}

.fileEntry a {
  color: black;
  text-decoration: none;
  cursor: default;
}

.fileEntry:hover {
  background-color: black;
  color: white;
}

.fileEntry:hover input {
  background-color: black;
  color: white;
}

.fileEntry:hover a {
  background-color: black;
  color: white;
}

.fileEntry input {
  width:120px; 
  background-color: transparet;
  cursor: default;
}

.fileEntry form {
  display: inline-block; 
  margin: 0;
}

.ico {
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: top;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.fileTypeWs .ico {
  background: url('img/icoset.png') 0 0 no-repeat;
  background-position: 0 0
}

.fileTypeAsm .ico {
  background: url('img/icoset.png') no-repeat;
  background-position: -15px 0
}

.buttonBar {
  height:14px;
  font-size: 0;
}

#heapSpan {
  white-space: pre-wrap;
}

.emph {
  font-weight: bold;
}

.emph input {
  font-weight: bold;
}

.modalFog {
  z-index: 1000;
  position: absolute;
  top: 8px;
  left: 8px;
  height: 562px;
  width: 950;
  background-color: rgba(255, 255, 255,0.75);
  display: table-cell;
  vertical-align: middle;
}

#modal {
  margin-left:auto;
  margin-right:auto;

  min-width: 100px;
  min-height: 100px;
  border: 4px double;
  display: inline-block;
  position: absolute;
  
}

#splashScreen {
  width:300px; 
  height:200px; 
  display:inline-block; 
  background-color: white;
  background: url(img/lips.png) white no-repeat;
  background-position-y: 20px;
}

#splashScreen .nameVersion {
  display: inline-block;
  margin-left:140px;
  margin-top: 90px;
  white-space: pre;
}

.asmLine.running {
  background-color: blue;
  color: white;
}

.asmLine.asmInstr {
  padding-left: 12px;
}

#errorDiv {
  margin-top: 3px;
  margin-bottom: 3px;
  color: red;
  height: 1em;
}
